{
  "presets": [
    [
      "next/babel",
      {
        "babel-plugin-transform-imports": {
          "antd": {
            // Use "transform: '@material-ui/core/${member}'," if your bundler does not support ES modules
            "transform": "antd/esm/${member}",
            "style": true
          }
        }
      }
    ]
  ],
  "plugins": []
}
