Dockerfile
.dockerignore
node_modules
agent-roger-task-runner/node_modules
.git
.next
public
.env.example
src/components
src/pages
src/server
src/styles
src/utils
next.config.mjs
next-env.d.ts
postcss.config.cjs
prettier.config.cjs
README.md
tailwind.config.ts
tsconfig.json