Dockerfile
.dockerignore
node_modules
packages/dashboard
packages/weaviate-ts-client/node_modules
packages/weaviate-ts-client/dist
packages/task-runner/node_modules
packages/agent-roger-core/node_modules
packages/agent-roger-core/out
packages/agent-roger-core/dist
dashboard
.git
README.md
.env.example
.yarn/install-state.gz
.yarn/sdks
.yarn/unplugged
.yarn/cache