# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
packages/*/node_modules
packages/*/dist
packages/*/out
packages/*/tsconfig.tsbuildinfo
packages/*/next-env.d.ts
packages/*/.next
packages/*/build
build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env vars
.env

# vercel
packages/.vercel

# yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions