# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
packages/*/node_modules
packages/*/dist
packages/*/dist-temp
packages/*/out
packages/*/tsconfig.tsbuildinfo
packages/*/next-env.d.ts
packages/*/.next
packages/*/build
.next
lib/*/node_modules
lib/*/dist
lib/*/build
lib/*/tsconfig.tsbuildinfo
build

# weaviate-ts-client
libs/weaviate-ts-client/.DS_Store
libs/weaviate-ts-client/dist/
libs/weaviate-ts-client/coverage/
libs/weaviate-ts-client/node_modules/
libs/weaviate-ts-client/config.yaml
libs/weaviate-ts-client/lib.js
libs/weaviate-ts-client/weaviate-data/
libs/weaviate-ts-client/.vscode/
libs/weaviate-ts-client/.idea/
libs/weaviate-ts-client/*.tgz
libs/weaviate-ts-client/.npmrc
libs/weaviate-ts-client/.eslintcache
!libs/weaviate-ts-client/package.json


# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env vars
.env

# vercel
packages/.vercel

# yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
node_modules
