# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/dashboard/node_modules
/task-runner/node_modules
agent-roger-core/node_modules

# core package
agent-roger-core/dist
agent-roger-core/tsconfig.tsbuildinfo

# task runner
/task-runner/build
/task-runner/dist


# next.js
/dashboard/.next/
/dashboard/out/
/dashboard/next-env.d.ts

# production
/build
/dashboard/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env file
.env
/dashboard/.env
/task-runner/.env

# vercel
.vercel
/dashboard/.vercel

# typescript
*.tsbuildinfo
